extends ./index.pug

block content
    div.container-md
        div
            div.d-flex.flex-row.justify-content-center.mt-3
                button(class="nes-btn me-3" onclick="document.getElementById('create-room-dialog').showModal();")="Create Room"
                button(class="nes-btn" onclick="document.getElementById('join-room-dialog').showModal();")="Join Room"
            if code 
                p.nes-text.is-error.text-center.mt-4=`Joined in ${code.toUpperCase()}`
        if code
            div.mt-5
                p.nes-text.is-success="Make Decision On"
                p.nes-text.is-primary=opinion

            div
                div 
                    div.d-flex.flex-row.justify-content-center.mb-3.mt-5
                        div.me-4.d-flex.flex-row
                            span.nes-text.is-primary.me-2="You"
                            i.nes-icon.coin.is-small.coin-icon.me-2
                            p(id="id_my_score")=score[person_id]


                        div.d-flex.flex-row
                            span.nes-text.is-success.me-2="Player"
                            i.nes-icon.coin.is-small.coin-icon.me-2
                            p(id="id_player_score")=score[opponent]

                div.d-flex.flex-row.justify-content-center
                    div(class="d-flex flex-row overflow-scroll p-2" id="id_grid_view")
                        each gridItem, index in (grid || []) 
                            div(class=`${index == 2 ? "active-box-" : ""}`)
                                div(class=`${index == 0 ? "box-first" : ""} box nes-container is-rounded ${gridItem.decisions[person_id].decision && (gridItem.decisions[person_id].decision == "DEFECT" ? "is-error" : "is-success")}`)
                                div(class=`${index == 0 ? "box-first" : ""} box nes-container is-rounded ${gridItem.decisions[person_id].decision && gridItem.decisions[opponent].decision && (gridItem.decisions[opponent].decision == "DEFECT" ? "is-error" : "is-success")}`)
                div.d-flex.flex-row.justify-content-center.mt-4
                        button(class="nes-btn is-error me-3" onclick="updateGrid('DEFECT')")="Defect"
                        button(class="nes-btn is-success" onclick="updateGrid('COOPERATE')")="Cooperate"
            
        dialog(class="nes-dialog is-rounded" id="create-room-dialog")
            div(id="id_create_room_form")
                form(method="dialog")
                    p.title="Create Room"
                    label(for="opinion_select")="Select the opinion"
                    div.nes-select
                        select(required id="opinion_select")
                            each opinion in opinions
                                option(value=opinion.opinion_id)=opinion.description

                menu.dialog-menu.modal_menu
                    button(class="nes-btn me-3" onclick="document.getElementById('create-room-dialog').close(); resetCreateRoomForm();")="Cancel"
                    button(class="nes-btn is-primary" onclick="createRoomApi()")="Create"   
                
            div(id="id_create_room_success" class="d-none")
                p.title="Room Created"
                p="Share the generated code with your friend to play together."
                    div.nes-container.is-rounded.is-dark
                        p(id="id_room_code" style="letter-spacing:2px")
                    menu.dialog-menu.modal_menu
                        button(class="nes-btn me-3" onclick="document.getElementById('create-room-dialog').close(); resetCreateRoomForm();")="Cancel"
                        button(class="nes-btn is-primary" onclick="handleJoinRoom();")="Join" 


        dialog(class="nes-dialog is-rounded" id="join-room-dialog")
            form(method="dialog")
                p.title="Join Room"
                input(type="text" id="id_join_room_code" class="nes-input is-dark" placeholder="Code")
            menu.dialog-menu.modal_menu
                button(class="nes-btn me-3" onclick="document.getElementById('join-room-dialog').close();")="Cancel"
                button(class="nes-btn is-primary" onclick="joinRoomApi();")="Join"   

    script.
        const person_id = !{JSON.stringify(person_id)};
        const opponent = !{JSON.stringify(opponent || "")};
        const code = !{JSON.stringify(code || "")};
        
        const createRoomApi = async () => {
            const opinionId = document.getElementById("opinion_select").selectedOptions[0].value
            let result = null;
            result = await fetch(
            `/app/room`,
                {
                    method: "POST",
                    body: JSON.stringify({
                        opinion_id: opinionId
                    })
                }
            ).catch((err) => {})
            result = await result.json()
            if(result.status == 200){
                document.getElementById("id_create_room_success").classList.remove("d-none")
                document.getElementById("id_create_room_form").classList.add("d-none")
                document.getElementById("id_room_code").innerText = result.data.code
            }
            console.info(result)
        }

        const resetCreateRoomForm = () => {
            document.getElementById("id_create_room_success").classList.add("d-none")
            document.getElementById("id_create_room_form").classList.remove("d-none")  
        }

        const handleJoinRoom = () => {
            window.location.replace(`?room=${document.getElementById("id_room_code").innerText}`);
        }

        const joinRoomApi = async () => {
            let result = null;
            result = await fetch(
            `/app/room/join`,
                {
                    method: "POST",
                    body: JSON.stringify({
                        player_two: person_id,
                        code: document.getElementById("id_join_room_code").value
                    })
                }
            ).catch((err) => {})
            result = await result.json()
            console.log(result)
            if(result.status == 200){
                window.location.replace(`?room=${document.getElementById("id_join_room_code").value}`);
            }
        }

        const updateGrid = async (decision) => {
            let result = null;
            result = await fetch(
            `/app/grid`,
                {
                    method: "PUT",
                    body: JSON.stringify({
                        decision,
                        code
                    })
                }
            ).catch((err) => {})
            result = await result.json()
            if(result.status == 200){
                getGrid()
            }
        }

        const updateGridView = (grid, score, person_id, opponent) => {
            let viewHtml = ""
            grid?.map((gridItem, index) => {
               viewHtml +=  `
                <div class="${index == 2 ? 'active-box-' : ''}">
                    <div class="${index == 0 ? 'box-first' : ''} box nes-container is-rounded ${gridItem.decisions[person_id].decision && (gridItem.decisions[person_id].decision == 'DEFECT' ? 'is-error' : 'is-success')}"></div>
                    <div class="${index == 0 ? 'box-first' : ''} box nes-container is-rounded ${gridItem.decisions[person_id].decision && gridItem.decisions[opponent].decision && (gridItem.decisions[opponent].decision == 'DEFECT' ? 'is-error' : 'is-success')}"></div>
                </div>
                `
            })

            document.getElementById("id_grid_view").innerHTML = viewHtml

            document.getElementById("id_my_score").innerText = score[person_id]
            document.getElementById("id_player_score").innerText = score[opponent]

        }

        const getGrid = async (decision) => {
            let result = null;
            result = await fetch(
            `/app/grid/${code}`,
                {
                    method: "GET",
                }
            ).catch((err) => {})
            result = await result.json()
            updateGridView(result?.data?.grid, result?.data?.score, result?.data?.person_id,  result?.data?.opponent)
        }

        if(code){
            setInterval(() => {
                getGrid()
            }, 5000)
        }
