extends ./index.pug

block content
    div.container-md
        div
            div.d-flex.flex-row.justify-content-center.mt-3
                button(class="nes-btn me-3" onclick="document.getElementById('create-room-dialog').showModal();")="Create Room"
                button(class="nes-btn" onclick="document.getElementById('join-room-dialog').showModal();")="Join Room"
            if code 
                p.nes-text.is-error.text-center.mt-4=`Joined in ${code.toUpperCase()}`
        if code
            div.mt-5
                p.nes-text.is-success="Make Decision On"
                p.nes-text.is-primary=opinion

            div
                div 
                    div.d-flex.flex-row.justify-content-center.mb-3.mt-5
                        div.me-4.d-flex.flex-row
                            span.nes-text.is-primary.me-2="You"
                            i.nes-icon.coin.is-small.coin-icon.me-2
                            p="10"


                        div.d-flex.flex-row
                            span.nes-text.is-success.me-2="Player"
                            i.nes-icon.coin.is-small.coin-icon.me-2
                            p="10"

                div.d-flex.flex-row.justify-content-center
                    div.d-flex.flex-row.overflow-scroll
                        each grid, index in [...Array(grid_length).keys()]
                            div(class=`${index == 2 ? "active-box" : ""}`)
                                div(class=`${index == 0 ? "box-first" : ""} box nes-container is-rounded is-success`)
                                div(class=`${index == 0 ? "box-first" : ""} box nes-container is-rounded is-error`)
                div.d-flex.flex-row.justify-content-center.mt-4
                        button.nes-btn.is-error.me-3="Defect"
                        button.nes-btn.is-success="Coprate"
            
        dialog(class="nes-dialog is-rounded" id="create-room-dialog")
            div(id="id_create_room_form")
                form(method="dialog")
                    p.title="Create Room"
                    label(for="opinion_select")="Select the opinion"
                    div.nes-select
                        select(required id="opinion_select")
                            each opinion in opinions
                                option(value=opinion.opinion_id)=opinion.description

                menu.dialog-menu.modal_menu
                    button(class="nes-btn me-3" onclick="document.getElementById('create-room-dialog').close(); resetCreateRoomForm();")="Cancel"
                    button(class="nes-btn is-primary" onclick="createRoomApi()")="Create"   
                
            div(id="id_create_room_success" class="d-none")
                p.title="Room Created"
                p="Share the generated code with your friend to play together."
                    div.nes-container.is-rounded.is-dark
                        p(id="id_room_code" style="letter-spacing:2px")
                    menu.dialog-menu.modal_menu
                        button(class="nes-btn me-3" onclick="document.getElementById('create-room-dialog').close(); resetCreateRoomForm();")="Cancel"
                        button(class="nes-btn is-primary" onclick="handleJoinRoom();")="Join" 


        dialog(class="nes-dialog is-rounded" id="join-room-dialog")
            form(method="dialog")
                p.title="Join Room"
                input(type="text" id="id_join_room_code" class="nes-input is-dark" placeholder="Code")
            menu.dialog-menu.modal_menu
                button(class="nes-btn me-3" onclick="document.getElementById('join-room-dialog').close();")="Cancel"
                button(class="nes-btn is-primary" onclick="joinRoomApi();")="Join"   

    script.
        const person_id = !{JSON.stringify(person_id)};
        
        const createRoomApi = async () => {
            const opinionId = document.getElementById("opinion_select").selectedOptions[0].value
            let result = null;
            result = await fetch(
            `/app/room`,
                {
                    method: "POST",
                    body: JSON.stringify({
                        opinion_id: opinionId
                    })
                }
            ).catch((err) => {})
            result = await result.json()
            if(result.status == 200){
                document.getElementById("id_create_room_success").classList.remove("d-none")
                document.getElementById("id_create_room_form").classList.add("d-none")
                document.getElementById("id_room_code").innerText = result.data.code
            }
            console.info(result)
        }

        const resetCreateRoomForm = () => {
            document.getElementById("id_create_room_success").classList.add("d-none")
            document.getElementById("id_create_room_form").classList.remove("d-none")  
        }

        const handleJoinRoom = () => {
            window.location.replace(`?room=${document.getElementById("id_room_code").innerText}`);
        }

        const joinRoomApi = async () => {
            let result = null;
            result = await fetch(
            `/app/room/join`,
                {
                    method: "POST",
                    body: JSON.stringify({
                        player_two: person_id,
                        code: document.getElementById("id_join_room_code").value
                    })
                }
            ).catch((err) => {})
            result = await result.json()
            console.log(result)
            if(result.status == 200){
                window.location.replace(`?room=${document.getElementById("id_join_room_code").value}`);
            }
        }
